body {
    font-family: 'Roboto', sans-serif;
}
.navbar {
    background-color: #182540;

}
.navbar .container a {
    color: #fff;
}
.navbar .container form {
    position: relative;
}
.navbar .container form input{
    width: 500px;
}
.navbar .container form button {
    position: absolute;
    content: '';
    top: 0;
    right:0;
    margin-right: 8px;
    border: none;
}
.navbar .container ul .lang .dropdown button:first-child{
    background-color: #182540;
    color: #fff;
}

#dropMenu{
    min-width: 102px!important;
}
#dropMenu li {
    max-width: 102px!important;
}
.navbar .container ul .lang .dropdown ul li .dropdown-item{
    background-color: #fff;
    color: #182540;
    
}
.navbar .container ul .lang .dropdown ul li .dropdown-item:hover{
    background-color: #182540;
    color: #fff;
}

.svg-inline--fa {
    color: #182540;
}
.navbar .container .navbar-nav .nav-item a .svg-inline--fa {
    color: #fff;
}
.nav2 .container ul {
    margin: 0 auto;
}
.nav2 .container ul li a{
    color: #182540;
    position: relative;
}

.nav2 .container ul li:first-child a::after{
    position: absolute;
    content: '';
    background-color: #4a4a75;
    border-radius: 15px;
    width: 5px;
    height: 5px;
    bottom: 0;
    left: 50%;
    margin-left: -2.5px;
}
main.container{
    width: 80%;
    color: #182540;
    margin: 50px auto;
    background-color: #c8c8fa;
    box-sizing: content-box;
}
main.container div img {
    width: 250px;
    height: 200px;
}

main.container div button {
    background-color: #182540;
    color: #fff;
    font-size: 12px;
    opacity: 0.7;
    transition: 1s;
}
main.container div button:hover {
    opacity: 1;
    background-color: #182540;
    color: #fff;
}

.cards-block h5{
 font-weight: bolder;
 text-transform: capitalize;
}


.cards-block .card-text{
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cards-block .btn{
    background-color: #182540;
    color: #fff;
    font-size: 12px;
    opacity: 0.7;
    transition: 1s;
}
.cards-block .btn {
    opacity: 1;
    background-color: inherit;
    color: #0d6efd;
    border: none;
}
.cards-block .cart {
    opacity: 1;
    background-color: #c8c8fa;
    color: #182540;
}
.cards-block .card-end {
    height: 20px;
}
